<<<<<<< HEAD
<div class="card">
    <img src="~/uploads/@ViewBag.User.ProfilePic" style="width: 100px;" alt="@ViewBag.User.ProfilePic">
    <h1>@ViewBag.User.Username</h1>
    <partial name="_Friend"/>
</div>

@foreach(Destination item in ViewBag.Destinations)
{
    <div class="card mb-5 p-3">
        <h1>@item.Creator.Username</h1>
        <h1>@item.Place()</h1>
        <h1>@item.DestinationMessage</h1>
    </div>
}

<partial name="_Requests"/> 
<partial name="_ListOfFriends"/>
=======
@model User

<h1>@Model.Full()</h1>
>>>>>>> Kaija's-Branch
