<div class="profile-container w-50 mx-auto">

    <div class="d-flex align-items-center justify-content-center mb-4 text-center">
        <div>
            <img src="~/uploads/@ViewBag.User.ProfilePic" style="width: 100px;" alt="@ViewBag.User.ProfilePic">
            <h1>@ViewBag.User.Username</h1>
            <partial name="_Friend"/>
        </div>
    </div>
    <partial name="_Requests"/> 
    <partial name="_ListOfFriends"/>

    @foreach(Destination item in ViewBag.Destinations)
    {
        <div class="Post mb-5 p-3">
                <div class="img_map d-flex justify-content-between mb-3">
                    @if(item.Image.Length > 3)
                    {
                        <img src="~/uploads/@item.Image" style="width: 300px;" alt="@item.Image">
                    }
                    <div class="location">
                        <iframe
                            width="275"
                            height="225"
                            style="border:0"
                            loading="lazy"
                            allowfullscreen
                            referrerpolicy="no-referrer-when-downgrade"
                            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC---njpOqPkCYvMRYE-MxexQWdqC_s_h4
                            &q=@item.Query()">
                        </iframe>
                        <h4 class="word-wrap text-center">@item.Place()</h4>
                        <h5 class="mt-4"><a href="/user/@item.Creator.UserId">@item.Creator.Username</a></h5>
                        <h6>@item.DestinationMessage</h6>
                    </div>
                    
                </div>
            </div>
    }

</div>
